<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/assets/images/favicon.png">
    {% block stylesheet %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../public/css/style.css">
    {% endblock %}
</head>

<body>
{% block nav %}
<nav class="nav nav-pills nav-fill">
    <a class="nav-link active nav-item" href="index.php">Recette</a>
    <a class="nav-link nav-item" href="answer.php">Réponse</a>
</nav>
{% endblock %}
<div class="container-fluid">
{% block content %}
{% endblock %}
</div>
</body>
</html>