{% extends "base.html.twig" %}
{%  block content %}
<br>Voici les ingrédients pour la recette mystère :<br><br>
<div class="row">
    {% for product in products %}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
        {{ product }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}